@model ST10090287_ProgPart2.Models.Product

@{
    ViewData["Title"] = "Create";
}
<style>
    h1 {
        color: blue;
        font-size: 24px;
        text-align: center;
    }

    h4 {
        color: green;
        font-size: 16px;
        text-align: center;
    }

    .row {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .col-md-4 {
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
    }
</style>
<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PRODUCT_ID" class="control-label"></label>
                <input asp-for="PRODUCT_ID"name="txtPRODUCT_ID" class="form-control" />
                <span asp-validation-for="PRODUCT_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRODUCT_TYPE" class="control-label"></label>
                <input asp-for="PRODUCT_TYPE"name="txtPRODUCT_TYPE" class="form-control" />
                <span asp-validation-for="PRODUCT_TYPE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRODUCT_PRICE" class="control-label"></label>
                <input asp-for="PRODUCT_PRICE" name="txtPRODUCT_PRICE" class="form-control" />
                <span asp-validation-for="PRODUCT_PRICE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PRODUCT_QTY" class="control-label"></label>
                <input asp-for="PRODUCT_QTY" name="txtPRODUCT_QTY"class="form-control" />
                <span asp-validation-for="PRODUCT_QTY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FARMER_ID" class="control-label"></label>
                <input asp-for="FARMER_ID" name="txtFARMER_ID"class="form-control" />
                <span asp-validation-for="FARMER_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
